.brand{
	margin-left: -3%;
}
.brand a{
	display: block;
	width: 280px;
	height: 400px;
	position: relative;
}

.brand img{
	width: 280px;
	height: 400px;
}

.brand .info{
	display: none;
	background-color: #f0f0f0;
	color: #369242;
}

.horizontal img{
	position: absolute;
	top: 0;
	left: 0;
}

.horizontal .info{
	width: 280px;
	height: 0;
	top: 120px;
	position: absolute;
	left: 0;
}
.versePic{
	overflow: hidden;
}